.header {margin: 0 0 60px 0;
width: 100%;
text-align: center;
background-color: red;
color: white;}

.frame0 {border: 50px solid black;
width: 75%;
background-color: white;}

.frame1 {border: 50px solid honeydew;
width: 75%;
background-color: white;}

img {width: 100%;}

p {font-style: italic;}

h3 {text-align: center;}

button {width: 50%;
height: 40px;
font-size: 25px;
border-radius: 40px 0 40px 0;
border: 1px solid red;
color: white;
background-color: red;}


   

